.DS_Store
node_modules
/dist
/config
coverage

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# default inspect webpack config file
inspect_*_webpack_config.json

# env file
.env.local
.env.development

# lock
yarn.lock
